@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #ececec;
}
html {
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
.navlinks:focus,
button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.banner-img-wrapper img {
  height: auto;
  width: auto;
}

.magazine-ft-wrapper {
  overflow: hidden;
}

.magazines-photo-wrapper {
  position: relative;
  margin-right: -50px;
  margin-top: 20px;
  width: 700px;
}
.magazine-ft-wrapper .logo {
  width: 120px;
}

.stack-image {
  height: 150px;
  width: 150px;
}
.top-stack {
  height: 170px !important;
  width: 170px !important;
}
.top-stack-wrapper {
  top: -70%;
  left: 25%;
}
@media only screen and (max-width: 450px) {
  .magazines-photo-wrapper {
    width: 130% !important;
  }
  .top-left-images-card div {
    height: 80px !important;
    width: 80px !important;
  }
}
@media only screen and (max-width: 570px) {
  .hidden-items {
    display: none;
  }
  footer {
    display: block !important;
    position: fixed;
    width: 100%;
    bottom: 35px;
    transition: transform 0.2s ease;
    transform: translateY(160%);
  }
  .footer-show {
    transform: translateY(50%);
  }
  .footer-top-heading {
    transform: translateY(-30%);
  }
  .magazine-ft-wrapper {
    height: 350px;
    width: auto;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0;
    overflow: visible;
  }
  .magazine-ft-wrapper .logo {
    margin-top: 10px;
    width: 80px;
  }
  .magazines-photo-wrapper {
    margin-right: 0;
    margin-top: -40px;
    width: 95%;
    margin-right: 40px;
  }
  .bottom-feature-image {
    height: 130px !important;
    width: 300px !important;
  }
  .stack-image {
    height: 100px !important;
    width: 100px !important;
  }
  .top-stack {
    height: 120px !important;
    width: 120px !important;
  }
  .top-stack-wrapper {
    top: -70%;
    left: 25%;
  }
}

@media only screen and (max-width: 400px) {
  .bottom-feature-image {
    height: 130px !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 970px) {
  .magazine-ft-content {
    flex-direction: row;
  }
}
.text-side-logo {
  display: inline-block;
  margin: 0 10px;
  height: 37px;
  width: 35px;
  background-image: url("../../public/assets/images/logo/sideUse-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 571px) and (max-width: 900px) {
  .magazines-photo-wrapper {
    width: 380px !important;
  }
}

.top-left-images-card div,
.stack-image {
  border-radius: 100%;
}

.top-left-images-card div {
  height: 100px;
  width: 100px;
  background-color: #a8a5a5;
}

.bottom-feature-image {
  height: 180px;
  width: 500px;
}

@media only screen and (max-width: 1010px) {
  .bottom-feature-image {
    height: 150px;
    width: 300px;
  }
}

/* Article Modal */

.article-modal {
  display: grid;
  place-items: center;
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0606068b;
  backdrop-filter: blur(10px);
}
.article-modal {
  background: rgba(16, 16, 16, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.article-modal::-webkit-scrollbar {
  display: none;
}

.article-content::first-letter {
  font-size: 50px;
}

.single-page-article-thumbnail {
  border-radius: 23px;
  /* backdrop-filter: blur(10px); */
  -webkit-box-shadow: 0px 3px 41px -14px rgba(121, 102, 248, 0.027);
  -moz-box-shadow: 0px 3px 41px -14px rgba(121, 102, 248, 0);
  box-shadow: 0px 3px 41px -14px rgba(151, 104, 253, 0.409);
}

.marquee {
  /* transform: skew(-200deg); */
  line-height: 50px;
  /* background-color: rgb(195, 250, 165); */
  background: linear-gradient(
    to right,
    rgba(195, 250, 123, 0.928),
    rgba(195, 250, 123, 0.651),
    rgba(255, 255, 255, 0.326)
  );
  color: rgb(40, 39, 39);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* ------ADMIN------ */

.admin-layout {
  background-image: url("../../public/assets/images/admin-layout-wallpaper/and-machines-vqTWfa4DjEk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100%; */
  scroll-behavior: smooth;
}

@media only screen and (max-width: 450px) {
  .admin-layout {
    background-image: (
      url("../../public/assets/images/admin-layout-wallpaper/adrien-converse-kCrrUx7US04-unsplash.jpg")
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100%; */
    scroll-behavior: smooth;
  }
  /* Date picker Input */
  /* WebKit (Chrome, Safari) */
  input[type="date"]::-webkit-calendar-picker-indicator {
    visibility: hidden;
    /* appearance: none; */
  }

  /* Firefox */
  input[type="date"] {
    appearance: none;
    -moz-appearance: textfield;
  }
  input[type="date"] {
    background-image: url("../../public/assets/images/admin-icons/calendar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
}

.bg-blur {
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1.5px solid black;
}
.bg-blur-white {
  background: rgba(255, 255, 255, 0.561);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1.5px solid black;
}

.menu-carousel {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.span-line::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background: black;
  text-align: center;
  margin-right: 10px;
}
.span-line::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background: black;
  text-align: center;
  margin-left: 10px;
}

#article-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
