@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 570px) {
  .hidden-items {
    display: none;
  }
  footer{
    display: block !important;
  }
}


.navlinks:focus {
  outline: none; 
  -webkit-tap-highlight-color: transparent;
}


.banner-img-wrapper img{
  height: auto;
  width: auto;
  
}

